@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
h1{
    color: #00A9C0;
}
i{
    color: #f1c40f;
}
.wallet-field{
    background-color: #70a1ff;
}
label{
    font-weight: bold;
}
#error-msg, #error-msg1, #error-msg2, #error-msg3, #error-msg4{
    display: none;
}


/* responsive  */
@media (max-width: 767px) {
    .wallet-field{
        margin-top: 10px;
    }
    #calculate-btn{
        width: 25%;
    }
}